#!/bin/bash

echo -e "\033[0;32m//////////////////////////////////////////////////
///      Usage : source env.sh <ARGUMENT>      ///
//////////////////////////////////////////////////\033[0m
"

export GRAFANA_APISERVER=
export PROMETHEUS_SERVER=
export SECRET_PATH=